<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories=['academy-brian.base']}"
/>
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" />
<sly data-sly-include="header.html" />
<sly data-sly-include="nav.html" />
<div data-sly-use.mymodel="it.codeland.core.models.AcademyLearningDemo">
  ${mymodel.customDescription}
</div>
<div
  data-sly-resource="${'heroslider' @ resourceType='academy-brian/components/content/heroslider'}"
/>
<sly
  data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"
/>
<sly data-sly-include="footer.html" />
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories=['academy-brian.base']}"
/>
